.tile-container {
  /* width: 540px; */
  height: 100%;

  /* box-sizing: border-box;
  border: solid 1px white; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-container .input {
  margin: 10px;
  font-size: 1.5rem;
}

.tile-container .dropdown-button {
  font-size: 3rem;
}
