.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.time-container .date {
  font-size: 30px;
}

.time-container .time sup {
  top: -0.47em;
  font-size: 60%;
  margin-left: 8px;
}
