@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.small {
  font-size: 1.5rem;
  margin-top: -5px;
  margin-bottom: -5px;
}

.medium {
  font-size: 3rem;
  margin-top: -8px;
  margin-bottom: -8px;
}

.large {
  font-size: 5rem;
  margin-top: -10px;
  margin-bottom: -10px;
}

header {
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #666;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #999;
}
.App-loading{
  
}
.App-loading-text{
  color: rgb(255, 255, 255);
  font-size: 5rem;
}


